ul, ol {
    margin-left 0;
}

ul ul {
    margin-bottom: 20px;
}

#scroller{
	
}

#scroller #carousel{
	
}

#scroller .jcarousel-skin-bcchc .jcarousel-container-horizontal{
	padding: 0;
	width: 570px;
	height:385px;
}


/*****************************************/
/*****************************************/


#scroller .jcarousel-skin-bcchc .jcarousel-container {
    border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;
}

/*
#scroller .jcarousel-skin-bcchc .jcarousel-container-horizontal {
    width: 245px;
    padding: 20px 40px;
}
*/



#scroller .jcarousel-skin-bcchc .jcarousel-clip-horizontal {
    /*width:  245px;*/
	  width:  570px;
    height: 385px;
}


#scroller .jcarousel-skin-bcchc .jcarousel-item {
    width: 570px;
    height: 385px;
}

#scroller .jcarousel-skin-bcchc .jcarousel-item-horizontal {
    margin-right: 10px;
}


#scroller .jcarousel-skin-bcchc .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}


#scroller .jcarousel-skin-bcchc .jcarousel-next-horizontal {
    position: absolute;
    top: 180px;
    right: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url(../images/background/next-horizontal.png) no-repeat 0 0;
	z-index: 2;
}

#scroller .jcarousel-skin-bcchc .jcarousel-next-horizontal:focus,
#scroller .jcarousel-skin-bcchc .jcarousel-next-horizontal:hover,
#scroller .jcarousel-skin-bcchc .jcarousel-prev-horizontal:focus,
#scroller .jcarousel-skin-bcchc .jcarousel-prev-horizontal:hover
{
    background-position: 0 -24px;
}

#scroller .jcarousel-skin-bcchc .jcarousel-next-horizontal:active,
#scroller .jcarousel-skin-bcchc .jcarousel-prev-horizontal:active
{
    background-position: 0 -24px;;
}

#scroller .jcarousel-skin-bcchc .jcarousel-next-disabled-horizontal,
#scroller .jcarousel-skin-bcchc .jcarousel-next-disabled-horizontal:hover,
#scroller .jcarousel-skin-bcchc .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: 0 -24px;
}

#scroller .jcarousel-skin-bcchc .jcarousel-prev-horizontal {
    position: absolute;
    top: 180px;
    left: 5px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent url(../images/background/prev-horizontal.png) no-repeat 0 0;
	z-index: 2;
}


#scroller .jcarousel-skin-bcchc .jcarousel-prev-disabled-horizontal,
#scroller .jcarousel-skin-bcchc .jcarousel-prev-disabled-horizontal:hover,
#scroller .jcarousel-skin-bcchc .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: 0 -24px ;
}




#scroller .jcarousel-list .jcarousel-item:focus img{
    outline: 2px solid #FF9933;
    outline-offset: -2px;
}

#scroller  button.jcarousel-prev:focus, button.jcarousel-next:focus {
    outline: 2px solid #FF9933;
 } 

#scroller .jcarousel-list .selectedItem img {
    outline: 2px solid #AAA;
    outline-offset: -1px;
}

#scroller button.jcarousel-prev, button.jcarousel-next {
     border: none; 
}