@font-face {
    font-family: 'CantarellRegular';
    src: url('../fonts/Cantarell-Regular-webfont.eot');
    src: url('../fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Cantarell-Regular-webfont.woff') format('woff'),
         url('../fonts/Cantarell-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Cantarell-Regular-webfont.svg#CantarellRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*GLOBAL RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, iframe, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding:0;
    border:0;
    outline:0;
    font-style:inherit;
    font-family:inherit;
    vertical-align:baseline;
}


a{
    color: #6c457d;
    text-decoration: underline;
}

a:focus, 
a:hover{
    text-decoration: none;
    color: #333;
}

/* FONTS */
body{
    font-family: "CantarellRegular", helvetica, arial, sans-serif;
}

/* FONT SIZES*/
html {
  font-size:100%;
}
h1, h2, h3, h4, h5, h6 {
  font-size:100%;
  font-weight:normal;
}

/*Set the base font to approx 10px;*/
body{
    font-size: 62.5%;
}


/*now we'll scale up from there*/

#contWrap.newsletter #leftCol .backToTop{
    font-size: 1.2em;
}

nav, 
.content p, 
footer ul li li,
.content h3,
#leftCol ul, 
#leftCol ol{
    font-size: 1.35em;
}

.content h3{ font-weight:bold;}

.content h2, 
footer h4{
    font-size: 1.6em;
}

.skipLink,
.content .overview, 
footer h3,
#welcome p, 
#information h2{
    font-size: 1.8em;
}



.content h1{
    font-size: 3.8em;
}


#contWrap.newsletter h1{
    font-size: 2.4em;
}


/*** SMALL FONTS ***/

.small #contWrap.newsletter #leftCol .backToTop{
    font-size: 1.0em;
}

.small nav, 
.small .content p, 
.small footer ul li li,
.small .content h3, 
.small #leftCol ul, 
.small #leftCol ol{
    font-size: 1.0em;
}

.small .content h2, 
.small footer h4{
    font-size: 1.2em;
}

.small .skipLink,
.small .content .overview, 
.small footer h3,
.small #welcome p, 
.small #information h2{
    font-size: 1.45em;
}

.small .content h1{
    font-size: 2.85em;
}

.small #contWrap.newsletter h1{
    font-size: 2.0em;
}


/*** LARGE FONTS ***/

.large #contWrap.newsletter #leftCol .backToTop{
    font-size: 1.6em;
}

.large nav, 
.large .content p, 
.large footer ul li li,
.large .content h3, 
.large #leftCol ul, 
.large #leftCol ol{
    font-size: 1.7em;
}

.large .content h3{ font-weight:bold;}

.large .content h2, 
.large footer h4{
    font-size: 2em;
}

.large .skipLink,
.large .content .overview, 
.large footer h3
.large #welcome p, 
.large #information h2{
    font-size: 2.25em;
}

.large .content h1{
    font-size: 4.25em;
}

.large #contWrap.newsletter h1{
    font-size: 3.5em;
}

/*MAIN ELEMENTS and GLOBAL STYLES*/
html {
  overflow-y: scroll;
}

body{
    background: #efefef;
    color: #333;
}

#contWrap{
    width: 895px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box; 
    padding:0 0 25px ;
    box-shadow: 0 0 18px -9px #999;
}
header{
    padding:0 25px;
    margin-bottom: 25px;
}
header #bcchcLogo{
    display: inline-block;
    float:left;
    border: 1px solid #fff;
}
header #ochcLogo{
    display: inline-block;
    float:right;
    border: 1px solid #fff;
}

header #bcchcLogo:focus, 
header #ochcLogo:focus{
    border: 1px solid #6c457d;
}


header #a11yTools{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    background:#eee;
    border: 1px solid #6c457d;
    border-width: 0 1px 1px;
}

header #a11yTools ul{
    padding: 15px 10px 8px;
    width: auto;
    display: inline-block;
}

header #a11yTools ul ul{
    margin-bottom: 0;
    padding: 0;
    display: inline;
    border: 0;
}


header ul{
    list-style: none;
    clear: both;
}

header #a11yTools ul li{
    display: inline;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
}

header #a11yTools ul li li{
    padding-left: 0;
    margin-left: 5px;
}

header #a11yTools a{
    color: #663366;
    text-decoration: underline;
}

header #a11yTools a:focus, 
header #a11yTools a:hover{
    text-decoration: none;
    color: #000;
}


header #a11yTools a#smallText,
header #a11yTools a#defaultText, 
header #a11yTools a#largeText{
    background: url(../images/background/font_a.png) 0 0 no-repeat;
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    position: relative;
    top: -9px;
}

header #a11yTools a#smallText{
    height: 16px;
    width: 16px;
    background-position: 0 -8px;
    margin-top: 8px;
}
header #a11yTools a#defaultText{
    height: 20px;
    width: 20px;
    background-position: -24px -4px;
    margin-top: 4px;
} 
header #a11yTools a#largeText{
    width: 24px;
    height: 24px;
    background-position: -48px 0;
}



header #a11yTools a#smallText:focus, 
header #a11yTools a#smallText:hover{
    background-position: 0 -32px;
}
header #a11yTools a#defaultText:focus, 
header #a11yTools a#defaultText:hover{
    background-position: -24px -28px;
}
header #a11yTools a#largeText:focus, 
header #a11yTools a#largeText:hover{
    background-position: -48px -24px;
}


.small header #a11yTools a#smallText{
    background-position: 0 -32px;
}
.default header #a11yTools a#defaultText{
    background-position: -24px -28px;
}
.large header #a11yTools a#largeText{
    background-position: -48px -24px;
}


nav{
    border-top: 2px solid #6c457d;
    margin-bottom: 10px;
    padding-left: 10px;
    background: #f5f5f5;
}
nav ul{
    list-style: none;
}
nav ul li{
    float: left;
}
nav ul li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
	color: #6c457d;
}

nav ul li a:focus, nav ul li a:hover{
    text-decoration: underline;
}

.point{
    background: url(../images/background/navPoint.jpg) 50% 100% no-repeat;
    display: block;
    position: relative;
    width: 25px;
    height: 9px;
    margin: 0 auto -10px;
	bottom: -14px;
}

body#home .home a,
body#clinical_services .clinical_services a,
body#diabetes_education .diabetes_education a,
body#events_programs .events_programs a,
body#resources .resources a,
body#about .about a,
body#contact .contact a{
    background: #6c457d;
    color: #fff;
}

.clear{
    clear:both;
}
.content h1{
    color: #6c457d;
    margin-bottom: 10px;
}

.content h2{
    color: #6c457d;
}

.content p{
    margin-bottom: 20px;
}

#leftCol ul{
    list-style: none;
    margin: 0 0 20px 35px;
}

.overview{
    border-bottom: 1px solid #333;
    margin-bottom: 15px;
    padding: 0 20px 20px;
    width: 620px;
    margin-left: -20px;
}

.program img{
    float:left;
    margin-right: .5em;
    margin-bottom: 1em;
    margin-top: .7em;
}

/* home pages styles */
#fullcol{
    width: 100%;
    box-sizing: border-box;
    float: left;
    margin-bottom: 140px;
}
#fullcol .row1{ 
	background:#E9E3EC;
	float:left;
}
#fullcol .row2{
}
#welcome {
	float:left;
	background:#e9e3ec;
	width:303px;
	padding:10px;
}

#scroller {
	float:left;
	width:567px;
	background:#ccc;
	border-left: solid 1px #ffffff;
}
#mediaplayer {
	clear:both;
	float:left;
	width:471px;
	background:#ccc;
	border-right: solid 1px #ffffff;
}
.media-object {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
#diabetesVideo.media-object{
    padding-bottom: 45%;
}

#information {
	float:left;
	background:#6c457d;
	width:403px;
	color:#fff;
	padding:10px;
	margin-bottom:30px;
}

#information h2{
    margin-bottom: 10px;
}

#information h2, #information h3 {color:#fff;}

/* end home pages styles */

#leftCol{
    width: 660px;
    box-sizing: border-box; 
    float: left;
    padding: 0 20px;
    margin-bottom: 140px;
}
#leftCol img {
    padding:2px;
    border: 1px solid #6c457d;
}
#rightCol{
    width: 235px;
    box-sizing: border-box; 
    float: right;
    padding: 0 20px; 
    margin-bottom: 140px;    
}

footer{
    clear: both;
}

footer h3{
    background: #6c457d;
    color:#fff;
    padding: 5px 20px;
    margin-bottom: 20px;
}

footer #footerMap{
    float: left;
    padding:2px;
    border: 1px solid #6c457d;
    margin: 0 0 0 20px;
}

footer ul{
    list-style: none;
    float: left;
}

footer ul li{
    float: left;
    margin-left: 60px;
}

footer ul li li{
    float: none;
    margin-left: 10px;
}

footer h4{
    color: #6c457d;
}





.skipLink{
    position: absolute;
    top: -9999px;
    left: -9999px;
    display: block;
}
.skipLink:focus{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #333;
}
.clearfix:after{
    clear: both; 
    content: "."; 
    display: block; 
    height: 0; 
    visibility: hidden;
}


/*Dev styles - to be removed before launch*/

.placeholder{
    background-color: yellow;
}

.missing{
    color: white;
    background-color: red;
}

a[href$=".doc"]{
    background: url(/images/icon_doc.gif) no-repeat right center;
    padding-right: 16px;
}

a[href$=".docx"]{
    background: url(/images/icon_doc.gif) no-repeat right center;
    padding-right: 16px;
}

a[href$=".pdf"]{
    background: url(/images/icon_pdf.gif) no-repeat right center;
    padding-right: 16px;
}

a[href^="http:"]{
    background: url(/images/icon_external.gif) no-repeat right center;
    padding-right: 16px;
}

/*** Exception for the header external link to supress the above rule ***/
#ochcLogo {
background: none;
}


/*** HIGH CONTRAST ***/

.high{
    background: #000;
    color: #fff;
}
.high #contWrap{
    background: #000;
    border: 1px solid #cccccc;
    border-width: 0 1px;
}

.high nav{
    background: #333;
}

.high .point{
    background: url(../images/background/navPoint_high.png) 50% 100% no-repeat;
}

.high #welcome, 
.high #information{
    background: #333;
}

.high .content h1, 
.high .content h2{
    color:#fff;
}

.high a{
    color: #e8bcfc;
    text-decoration:underline;
}

.high a:focus, 
.high a:hover{
    color:#fff;
    text-decoration: none;
}

/*** LOW CONTRAST ***/
.low body{
    background: #DFDFDF;
}

.low #contWrap{
    filter:alpha(opacity=50); -moz-opacity:.50; opacity:.50;
}

.screenReaderHint{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/****** NEWSLETTER ******/

#contWrap.newsletter #leftCol ol{
    margin: 0 0 20px 35px;
}

#contWrap.newsletter #leftCol .backToTop{
    float:right;
}

#contWrap.newsletter #leftCol h2{
    clear: both;
}

#contWrap.newsletter #leftCol ol a{
    color: #6c457d;
    text-decoration: underline;
}

#contWrap.newsletter #leftCol ol a:focus,
#contWrap.newsletter #leftCol ol a:hover{
    text-decoration: none;
    color: #333;
}

#fullcol #leftCol{
    padding: 0;
    margin: 0;
}

.openAir{
    float: right;
    margin-top: 2em;
    margin-right: 3em;
}

#hiringWrap{
    position: relative;
}

#hiring {
    position: absolute;
    top: -46px;
    right: 7px;
    font-size: 2em;
    font-weight: bolder;
    font-family: "Arial", "Sans";
    color: #6c457d;
    white-space: nowrap;
}

.address{
    font-size: 1.5em;
}

.tagline{
    font-style: italic;
    text-align: center;
}

ul.hiring li{
    list-style: disc;
}