<footer role="contentinfo">
    <h3>Locations and hours</h3>
    <div id="footerMap">
        <img src="http://maps.googleapis.com/maps/api/staticmap?size=320x190&amp;markers=2202%20Jane%20Street,%20Toronto,%20ON|1%20Yorkgate%20Boulevard,%20Toronto,ON&amp;sensor=false" alt="a map of the toronto area highlighting the two health care centre locations"/>
    </div>

    <ul class="clearfix">
        <li>
            <h4><a href="contact.html#sheridan">Sheridan Mall Site</a></h4>
            <ul>
                <li>Monday 9am-5pm</li>
                <li>Tuesday 9am-8:30pm</li>
                <li>Wednesday 9am-5pm</li>
                <li>Thursday 9am-8:30pm</li>
                <li>Friday 9am-5pm</li>
                <li>Saturday &amp; Sunday Closed</li>
            </ul>
        </li>
        <li>
            <h4><a href="contact.html#yorkgate">Yorkgate Mall Site</a></h4>
            <ul>
                <li>Monday 10am-8:30pm</li>
                <li>Tuesday 10am-6pm</li>
                <li>Wednesday 10am-8:30pm</li>
                <li>Thursday 10am-6pm</li>
                <li>Friday 10am-6pm</li>
                <li>Saturday &amp; Sunday Closed</li>
            </ul>
        </li>
    </ul>
    <div class="clear"></div>
    <img class="openAir" src="images/openAirIParticipated.gif" alt="Open Air I Participate Badge from Knowbility.org" />
</footer>