<header role="banner" class="clearfix">
    <div id="a11yTools">
        <ul class="clearfix">
            <li><a href="#leftCol">Skip to Main Content</a></li>
            <li>
                <ul id="fontSizeSelect" class="clearfix">
                    <li><a href="#" id="smallText">Small Fonts</a></li>
                    <li><a href="#" id="defaultText">Default Fonts</a></li>
                    <li><a href="#" id="largeText">Large Fonts</a></li>
                </ul>
            </li>
            <li>
                <ul class="clearfix">
                    <li><a href="#" id="lowContrast">Low Contrast</a></li>
                    <li><a href="#" id="normalContrast">Normal Contrast</a></li>
                    <li><a href="#" id="highContrast">High Contrast</a></li>
                </ul>    
            </li>
        </ul>
        <a href="http://www.bbc.co.uk/accessibility/">Learn to make the web easier to use - External Link</a>
    </div>

    <div id="hiringWrap">
        <div id="hiring">
            <a href="jobs.html">We're Hiring!</a>
        </div>
    </div>
    
    <a href="index.html" id="bcchcLogo">
        <img src="images/logos/bcchc.jpg" alt="Black Creek Community Health Care Centre"/>
    </a>
    <a href="http://www.ontariochc.ca/" id="ochcLogo">
        <img src="images/logos/ochc.jpg" alt="Ontario's Community Health Centres"/>
    </a>
</header>