        <script src="js/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/jquery.jcarousel.js"></script>
        <script src="js/bcchc.js" type="text/javascript"></script>
        <script src="js/cookiescript.js" type="text/javascript"></script>