<nav role="navigation" id="nav">
    <ul class="clearfix">
        <li class="home"><a href="index.html">Home</a></li>
        <li class="about"><a href="about.html">About</a></li>
        <li class="clinical_services"><a href="services.html">Clinical Services</a></li>
        <li class="diabetes_education"><a href="diabetes.html">Diabetes Education</a></li>
        <li class="events_programs"><a href="events_programs.html">Events & Programs</a></li>
        <li class="resources"><a href="resources.html">Resources</a></li>
        <li class="contact"><a href="contact.html">Contact</a></li>
    </ul>
</nav>